@import "tailwindcss";

@theme {
  --animate-marquee: marquee 15s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

body {
  @apply bg-gray-100;
}
